.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 1.25rem;
  margin-top: 3rem;
  transition: all ease-in-out 75ms;
}

.card:hover {
  margin-bottom: 3rem;
  margin-top: 0;
  transition: all ease-in-out 75ms;
}

.card-selected {
  margin-bottom: 3rem;
  margin-top: 0;
  transition: all ease-in-out 75ms;
}
